:root {
  --logo-color: #4d5ae5;
  --logo-accent-color: #2e2f42;
  --hover-color: #404bbf;
  --color-main-text: #434455;
  --footer-color: #f4f4fd;
  --color-border: #e7e9fc;
  --checkbox-color: #8e8f99;
}
